.portfolio {
    background-color: #333;
    color: lightblue;
    padding: 80px;
    text-align: center;
    /* border-style: solid;
    border-color: red; */
}

.portfolio h1 {
    font-size: 3rem;
}

.container {
    width: 800px;
    height: 500px;
    /* border-style: solid;
    border-color: orange; */
}

.project {
    /* border-style: solid;
    border-color: yellow; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6fr, 1fr;
    gap: 1.5rem;
    height: 90%;
    width: 90%;
    margin: auto;
}

.project_content {
    /* border-style: solid;
    border-color: green; */
    text-align: left;
    position: relative;
}

.project_content h3 {
    margin: 20px;
    color:rgb(62, 135, 214)
}

.project_content p, li {
    margin-left: 20px;
}

ul {
    list-style: none;
}

.project_image {
    /* border-style: solid;
    border-color: blue; */
}

.project_image img {
    margin-top: 20px;
    height: 400px;
    width: 300px;
    object-fit: fill;
    /* border-style: solid;
    border-color: orange; */
}

.links {
    /* border-style: solid;
    border-color: purple; */
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;

}






.links button {
    background-image: linear-gradient(rgb(147, 197, 214), rgb(84, 192, 228));
    border: none;
    color: #333;
    border-radius: 8px;
    font-size: 1.6rem;
    padding: 12px;
}

.links button:hover {
    background-image: linear-gradient(rgb(127, 255, 144), rgb(48, 220, 71));
    cursor: pointer;
}
.links a {
    text-decoration: none;
}

.links a:visited {
    color: inherit;
}

