.projectContainer {
    min-height: 100vh;
    width: 100%;
    background-color: #23232a;
    color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.projectPage {
    flex-grow: 1;
    border: 1px solid lime;
    padding: 50px 0;
    width: min(900px, 95vw);
    margin: auto;
    z-index: 10;
}

.projectTitle {
    width: 100%;
    color: #fff;
    position: static;
    text-align: left;
    padding-bottom: 30px;
    border: 1px solid red;
}
.projectTitle p {
    padding: 5px 0 20px;
    font-weight: 400;
}
.projectTitle img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.moreContent {
    color: palegreen;
    border: 1px solid rgba(152, 251, 152, 0.411);
    padding: 4px 10px;
    border-radius: 4px;
}
.moreContent:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

.projectButtons {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.projectButtons button {
    color: palegreen;
    border: 1px solid rgba(152, 251, 152, 0.411);
    padding: 4px 10px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: #23232a;
}
.projectButtons button:hover {
    cursor: pointer;
    filter: brightness(1.3);
}


.projectProblem {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.projectProblem img {
    width: 45%;
    object-fit: cover;
}
.projectProblem p {
    width: 90%;
}

.projectProject {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.projectProject div {
    /* border: 2px solid blue; */
    padding-left: 10%;
}
.projectProject img {
    width: 45%;
    object-fit: cover;
}
.projectProject p {
    /* border: 1px solid lime; */
}



.projectSolutions {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    /* border: 2px solid blue; */
}
.projectSolutions div {
    /* border: 2px solid lime; */
    width: 50%;
}
.projectSolutions a img {
    width: 100%;
    object-fit: cover;
}

.projectSolutions a {
    width: 45%;
    /* border: 2px solid yellow; */
}

.projectSolutions p {
    width: 90%;
}







.projectTechnologies {
    border: 1px solid violet;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 370px;
}
.projectTechnologies img {
    height: 100%;
    width: 45%;
    object-fit: cover;
    filter: brightness(.9);
    cursor: pointer;
    border: 1px solid yellow;
}

.techStack {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 50%;
    border: 2px solid blue;
    height: 100%;
}

.techFrontend,
.techBackend,
.techUtilities {
    /* width: 140px; */
    width: 130px;
    padding: 8px 18px;
    height: 200px;
    border-radius: 20px;
    background: linear-gradient(140deg, rgba(236, 247, 167, 0.769), rgba(22, 180, 14, 0.76));
    position: relative;
    color: #222;
}

.techUtilities {
    background: linear-gradient(140deg, rgba(249, 146, 244, 0.769), rgba(248, 69, 69, 0.769));
}
.techBackend {
    background: linear-gradient(140deg, rgba(111, 247, 199, 0.769), rgba(26, 186, 197, 0.769));
}

.techFrontend ul,
.techBackend ul,
.techUtilities ul {
    list-style-type: none;
}

.techFrontend li,
.techBackend li,
.techUtilities li {
    padding-bottom: 3px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    /* border: 1px solid lime; */
}

.techFrontend .icon,
.techBackend .icon,
.techUtilities .icon {
    font-size: 1.3rem;
    transform: translateY(3px);
    margin-right: 8px;
}

.techFrontend h3,
.techBackend h3,
.techUtilities h3 {
    text-align: center;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 900;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.techTextContent {
    width: 45%;
}











.projectFuture {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.projectFuture div {
    /* border: 2px solid blue; */
}
.projectFuture img {
    width: 45%;
    object-fit: cover;
}
.projectFuture p {
    /* border: 1px solid lime; */
    width: 90%;
}



/* .textContent {
    display: flex;
    columns: 2;
    column-gap: 40px;
    padding: 5px 20px;
    height: max-content;
}

.textContent p {
    width: 45vw;
    font-weight: 200;
    margin-bottom: 20px;
    padding: 5px 0;
} */



.technologies {
    background-color: #3e29293f;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid red;
}

.loginCredentials {
    display: block;
    width: max-content;
    margin: 10px 0 30px;
    border: 2px solid green;
}
.loginCredentials p {
    padding: 20px 0;
    border: 2px solid red;
}

.loginCredentials h4 {
    color: rgb(46, 253, 74);
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 900;
}

.loginCredentials h4 span {
    color: #fff;
    font-weight: 300;
}

/* .projectButtons {
    width: 30vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.projectButtons button {
    background-image: linear-gradient(rgb(136, 229, 252), rgb(96, 215, 245));
    border: none;
    color: #333;
    border-radius: 16px;
    font-size: 1.6rem;
    padding: 12px 20px;
    margin: 10px;
    box-shadow: rgba(0,0,0,0.8) 0px 6px 14px;
    white-space: nowrap;
}

.projectButtons button:hover {
    background-image: linear-gradient(rgb(127, 255, 144), rgb(48, 220, 71));
    cursor: pointer;
} */