.projects {
    min-height: 100vh;
    width: 100%;
    margin: 0rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.projects__container {
    flex-grow: 1;
    z-index: 10;
}


.projects__helper {
    color: var(--body-text);
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 13px;
    border-radius: var(--border-radius-small);
    background: var(--content-background-secondary);
    box-shadow: var(--clear);
}
.projects__helper h4 {
    margin-bottom: 12px;
    font-size: var(--font-size-subheading);
    white-space: nowrap;
}

.projects__helper p {
    font-size: var(--font-size-body);
}






.projects__image-track {
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translate(0%, -50%);
}

.projects__card {
    height: 400px;
    width: 300px;
    border-radius: var(--border-radius-large);
    position: relative;
}

.projects__card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    object-position: 100% 50%;
    transition: filter .3s;
    border: 3px solid rgba(97, 97, 97, 0.402);
    border-radius: var(--border-radius-large);
    box-shadow: var(--clear);
}

.projects__title {
    position: absolute;
    top: -40px;
    left: 0px;
    color: var(--heading-text);
    width: 100%;
    text-align: center;
    font-size: var(--font-size-body);
}






/*  Since there is clicking and dragging, we don't want to be able to 
    highlight/select things */
.projects__helper h4::selection,
.projects__helper p::selection,
.projects__card img::selection,
.projects__title::selection {
    background: transparent;
}







/* only for debugging */
.stateVariables {
    color: var(--color-neutral-100);
    position: absolute;
    top: 5px;
    left: 5px;
}

@media screen and (max-width: 500px) {
    .projects__container {
        padding: 20px 0;
    }
    .projects__helper {
        width: 95%;
    }
    .projects__helper h4 {
        white-space: normal;
        width: 90%;
    }
    .projects__image-track {
        top: 550px;
    }
}

@media (hover) {
    .projects__title {
        /* color: #f8f8f8; */
        color: transparent;
 
        position: absolute;
        height: 400px;
        width: 300px;
        border-radius: var(--border-radius-large);
        overflow: hidden;
        font-weight: 500;
        top: 50%;
        transform: translate(-2px, -50%);
        font-size: var(--font-size-button-text);
        transition: color .3s;
        /* border: 2px solid rgb(167, 251, 167); */
        padding: 10vmin 2vmin;
        text-align: center;
    }

    .projects__card:hover :not(.projects__title) {
        filter: opacity(.25);  
        
    }
    
    .projects__card:hover .projects__title {
        color: var(--color-green-500);
        border: 2px solid var(--color-green-300);
        backdrop-filter: blur(15px);
    }
}
