.projects {
    background-color: #333;
    color: lightblue;
    padding: 80px;
}

.container {
    width: 600px;
    height: 700px;
}

.project {
    padding: 40px;
    text-align: center;
}

.project h3 {
    font-size: 2rem;
}

.project p {
    font-size: 1.2rem;
    margin-top: 20px;
}

.project img {
    height: 400px;
    width: auto;
    border-style: solid;
    border-width: 5px;

    margin: 20px auto;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.links button {
    background-image: linear-gradient(lightblue, rgb(84, 192, 228));
    border: none;
    color: darkblue;
    border-radius: 8px;
    font-size: 1.6rem;
    padding: 12px;

}
.links a {
    text-decoration: none;
}

.links a:visited {
    color: inherit;
}

