.project__container {
    min-height: 100vh;
    width: 100%;
    background-color: #23232a;
    color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.project__page {
    flex-grow: 1;
    /* border: 1px solid lime; */
    padding: 50px 0;
    width: min(900px, 95vw);
    margin: auto;
    z-index: 10;
}

.project__title {
    width: 100%;
    color: #fff;
    position: static;
    text-align: left;
    padding-bottom: 30px;
    /* border: 1px solid red; */
}
.project__title p {
    padding: 5px 0 20px;
    font-weight: 400;
}


.more__content {
    margin-top: 30px;
    color: palegreen;
    border: 1px solid rgba(152, 251, 152, 0.411);
    padding: 4px 10px;
    border-radius: 4px;
}
.more__content:hover {
    filter: brightness(1.3);
    cursor: pointer;
}


.project__grid {
    display: flex;
    justify-content: space-between;;
    /* border: 2px solid yellow; */
    padding: 30px 0;
}


.grid__left {
    /* border: 2px solid red; */
    width: 60%;
}

.grid__right img {
    display: block;
    width: 80%;
    height: clamp(250px, 35vw, 370px);
    object-fit: cover;
    margin: auto;
    /* border: 2px solid lime; */
    /* margin-right: 10px; */
}

.grid__right {
    /* border: 2px solid blue; */
    width: 50%;
}

.cta__container {
    /* border: 1px solid aqua; */
    width: min(340px, 100%);
    height: max-content;
    padding: 20px;
    background: rgba(8, 49, 64, 0.838);
    box-shadow: 5px 5px 1px 0px rgba(17, 190, 60, 0.4)
}

.cta__credentials {
    display: block;
    width: max-content;
    margin: 10px 0 30px;
    /* border: 2px solid green; */
}
.cta__credentials p {
    padding: 4px 0;
    font-size: 1.2rem;
    width: 300px;
    /* border: 2px solid red; */
}
.cta__credentials p:nth-child(2) {
    font-size: 1.05rem;
    margin-bottom: 30px;
}
.cta__credentials h4 {
    color: rgb(46, 253, 74);
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 900;
}
.cta__credentials h4 span {
    color: #fff;
    font-weight: 300;
}

.cta__links {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    /* border: 2px solid red; */
}
.cta__links button {
    color: palegreen;
    border: 1px solid rgba(152, 251, 152, 0.411);
    padding: 18px 25px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: #23232a;

}
.cta__links button:hover {
    cursor: pointer;
    filter: brightness(1.3);
}



.tech-stack__container {
    display: flex;
    gap: 10%;
    margin-top: 50px;
    /* border: 2px solid blue; */
}

.tech-stack__frontend,
.tech-stack__backend,
.tech-stack__utilities {
    width: 150px;
    padding: 12px 22px;
    height: 210px;
    border-radius: 20px;
    background: linear-gradient(140deg, rgba(236, 247, 167, 0.769), rgba(22, 180, 14, 0.76));
    position: relative;
    color: #222;
    /* border: 2px solid yellow; */
}
.tech-stack__frontend ul,
.tech-stack__backend ul,
.tech-stack__utilities ul {
    list-style-type: none;
}
.tech-stack__frontend li,
.tech-stack__backend li,
.tech-stack__utilities li {
    padding-bottom: 3px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    /* border: 1px solid lime; */
}
.tech-stack__frontend .icon,
.tech-stack__backend .icon,
.tech-stack__utilities .icon {
    font-size: 1.3rem;
    transform: translateY(3px);
    margin-right: 8px;
}
.tech-stack__frontend h3,
.tech-stack__backend h3,
.tech-stack__utilities h3 {
    text-align: center;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 900;
    bottom: 6px;
    left: 50%;
    color: #1b1b1b;
    transform: translateX(-50%);
}

.tech-stack__backend {
    background: linear-gradient(140deg, rgba(111, 247, 199, 0.769), rgba(26, 186, 197, 0.769));
}
.tech-stack__utilities {
    background: linear-gradient(140deg, rgba(249, 146, 244, 0.769), rgba(248, 69, 69, 0.769));
}







/* -------- For more content ---------- */
.projectProblem {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.projectProblem img {
    width: 45%;
    object-fit: cover;
}
.projectProblem p {
    width: 90%;
}

.projectProject {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.projectProject div {
    /* border: 2px solid blue; */
    padding-left: 10%;
}
.projectProject img {
    width: 45%;
    object-fit: cover;
}
.projectProject p {
    /* border: 1px solid lime; */
}



.projectSolutions {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    /* border: 2px solid blue; */
}
.projectSolutions div {
    /* border: 2px solid lime; */
    width: 50%;
}
.projectSolutions a img {
    width: 100%;
    object-fit: cover;
}

.projectSolutions a {
    width: 45%;
    /* border: 2px solid yellow; */
}

.projectSolutions p {
    width: 90%;
}







.projectTechnologies {
    border: 1px solid violet;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 370px;
}
.projectTechnologies img {
    height: 100%;
    width: 45%;
    object-fit: cover;
    filter: brightness(.9);
    cursor: pointer;
    border: 1px solid yellow;
}






.techTextContent {
    width: 45%;
    border: 2px solid blue;
}











.projectFuture {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.projectFuture div {
    /* border: 2px solid blue; */
}
.projectFuture img {
    width: 45%;
    object-fit: cover;
}
.projectFuture p {
    /* border: 1px solid lime; */
    width: 90%;
}



/* .textContent {
    display: flex;
    columns: 2;
    column-gap: 40px;
    padding: 5px 20px;
    height: max-content;
}

.textContent p {
    width: 45vw;
    font-weight: 200;
    margin-bottom: 20px;
    padding: 5px 0;
} */



.technologies {
    background-color: #3e29293f;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid red;
}