.portfolioContainer {
    min-height: 100vh;
    width: 100vw;
    margin: 0rem;
    background: #23242a;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
}

.portfolioContainer h1 {
    color: #f8f8f8;
    text-align: center;
    margin: 40px;
}

.image-track {
    display: flex;
    justify-content: center;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.portfolioContainer img {
    height: 48vmin;
    width: 56vmin;
    object-fit: cover;
    object-position: center;
}

.stateVariables {
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
}
