.portfolio {
    background-color: #333;
    color: lightblue;
    padding: 80px;
    text-align: center;
}

.portfolio h1 {
    font-size: 3rem;
}

.container {
    width: 800px;
    height: 800px;
}

.project {
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 2;
    border-style: solid;
}


.project_content {
    border-style: solid;
}

.project_image img {
    border-style: solid;
    height: 200px;
    width: auto;
    object-fit: contain;
}

.links {
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
}

.links button {
    background-image: linear-gradient(rgb(147, 197, 214), rgb(84, 192, 228));
    border: none;
    color: #333;
    border-radius: 8px;
    font-size: 1.6rem;
    padding: 12px;
}

.links button:hover {
    background-image: linear-gradient(rgb(127, 255, 144), rgb(48, 220, 71));
    cursor: pointer;
}
.links a {
    text-decoration: none;
}

.links a:visited {
    color: inherit;
}

.swiper-button-prev {
    color: red; 
}

.swiper-button-next {
    color: #000; 
}

