.top {
    background-color: rgba(181, 247, 238, 0.1);
    color: #fff;
    height: 80vh;
    width: 100%;
    position: relative;
    /* margin-bottom: 4rem; */
}

.top::before {
    content: '';
    background: url('../images/keyboard.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.t1, .t2 {
    /* font-family: 'Dancing Script', cursive; */
    color: #505a4d;
}

.t1 {
    position: absolute;
    right: 5rem;
    top: 250px;
    max-width: 450px;
    font-size: 4rem;
}

.t2 {
    max-width: 350px;
    font-size: 2rem;
    position: absolute;
    bottom: 2.5rem;
    right: 2rem;
}

.t2 span {
    color: rgb(98, 158, 190);
    /* font-family: 'Dancing Script', cursive; */
}



