.top {
    text-align: center;
    padding: 80px;
    background: url('https://i.ytimg.com/vi/Hk5jGL4pjXA/maxresdefault.jpg') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

.t1, .t2 {
    width: 50%;
    background-color:#f9f9f992;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.9) 0px 8px 24px;
    width: 100%;
    margin: auto;
    padding: 6px 15px;
    text-align: center;
}

.t1 {
    font-size: 3rem;
    max-width: 240px;
}

.t2 {
    font-size: 1.4rem;
    max-width: 220px;
    margin-bottom: 10px;
}

.t2 span {
    color: rgb(195, 28, 28);
}



