.about {
    width: 100%;
    min-height: 100vh;
    background: #23242a;
    display: flex;
    flex-direction: column;
}

.about__container {
    flex-grow: 1;
    z-index: 10;
    color: #fff;
    padding: 50px 0 30px;
}
.about__container h3 {
    margin-left: 30px;
    font-size: 3rem;
}
.about__container p {
    margin: 0 30px 50px;
    font-size: 1.4rem;
    font-weight: 300;
}
.about__container span {
    color: rgb(46, 253, 74);
}

.about__tech-stack {
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
    color: #333;
    /* border: 2px solid lime; */
    display: flex;
    justify-content: space-between;
}
.about__tech-stack p {
    font-size: 1rem;
    color: #444;
    margin: 0;
}

.tech-stack__current {
    position: relative;
    width: 48%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 4rem 1rem 1rem;
    border-radius: 0 20px 20px 0;
    /* border: 1px solid aqua; */
    background-image: linear-gradient(rgb(136, 229, 252), rgb(96, 215, 245));
}
.tech-stack__current h4 {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.item {
    /* border: 1px solid #333; */
    /* border-radius: 8px;
    padding: 10px; */
    /* box-shadow: rgba(0,0,0,0.5) 0px 4px 10px;
    background-image: linear-gradient(rgb(136, 229, 252), rgb(96, 215, 245)); */
}

.tech-stack__past {
    position: relative;
    width: 48%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 4rem 1rem 1rem;
    color: #333;
    border-radius: 20px 0 0 20px;
    /* border: 1px solid aqua; */
    background-image: linear-gradient(rgb(136, 252, 153), rgb(96, 245, 136));
}
.tech-stack__past h4 {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.about__education {
    margin-top: 50px;
}

.education__container {
    display: flex;
    justify-content: space-between;
}

.education__school {
    display: flex;
    padding: 30px;
}

.education__school img {
    height: 100px;
    width: 100px;
    border-radius: 12px;
    margin: 8px 30px;
    object-fit: cover;
}

.education__school h4 {
    font-size: 1.7rem;
}

.education__school p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 4px 0;;
}

@media screen and (max-width: 850px) {
    /* .about__container {
        flex-grow: 1;
    } */

    .about__tech-stack {
        margin: auto;
        font-size: 1.5rem;
    }

    .about__tech-stack p {
        font-size: .8rem;
    }

    .item {
        padding: 4px;
    }
}