.about {
    /* width: calc(100%-20px); */
    min-height: 100vh;
    background: #23242a;
    display: flex;
    flex-direction: column;
}

.about__container {
    flex-grow: 1;
    z-index: 10;
    color: #eee;
    padding: 100px 0 30px;
}
.about__container h3 {
    margin-left: 16%;
    font-size: 3rem;
    /* border: 2px solid orange; */
}
.about__paragraph {
    margin: 70px 16% 50px;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 28px;
}
.about__paragraph span {
    /* color: rgb(46, 253, 74); */
    color: var(--color-primary-500);
}
.about__paragraph span:nth-child(2) {
    color: var(--color-secondary-500);
    white-space: nowrap;
}
.about__paragraph span:nth-child(3) {
    color: var(--color-tertiary-500);
}

.about__tech-stack {
    /* width: calc(100%-20px); */
    font-size: 2rem;
    text-align: center;
    color: var(--content-fade-text);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
}
.about__tech-stack p {
    font-size: 1rem;
    margin: 0;
}
.about__tech-stack svg {
    color: #333;
    display: block;
    margin: auto;
}

.tech-stack__current,
.tech-stack__past {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem 1rem;
    padding: 4rem 1.5rem 1.5rem;
    border-radius: 0 20px 20px 0;
    background-image: var(--content-fade);
    box-shadow: var(--clear);
}
.tech-stack__current h4,
.tech-stack__past h4 {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: 600;

}

.tech-stack__current img {
    height: 2rem;
    width: 2rem;
    margin: auto;
}

.item {
    /* border: 1px solid #333;
    border-radius: 8px; */
    /* padding: 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 4px 10px;
    background-image: linear-gradient(rgb(136, 229, 252), rgb(96, 215, 245)); */
}

.tech-stack__past {
    border-radius: 20px 0 0 20px;
    /* border: 1px solid aqua; */
    background-image: var(--content-fade-2);
}

.about__paragraph {
    padding: 20px;
    background: rgba(8, 49, 64, 0.838);
    box-shadow: var(--clear);
}

.about__education {
    margin-top: 50px;
}

.about__education h3 {
    margin-left: 38px;
    font-size: 2rem;
}

.education__container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    /* border: 2px solid red; */
}

.education__school {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.education__school img {
    height: 100px;
    width: 100px;
    border-radius: 12px;
    margin: 8px 30px 8px 10px;
    object-fit: cover;
    /* border: 2px solid yellow; */
}
.education__school div {
    /* border: 2px solid pink; */
    height: max-content;
}
.education__school h4 {
    font-size: 1.5rem;
    /* padding-top: 15px; */
    /* border: 2px solid blue; */
}

.education__school p {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 4px 0;
    /* border: 2px solid green; */
}

@media screen and (max-width: 900px) {

    .about__tech-stack {
        display: block;
        height: 800px;
        position: relative;
    }

    .tech-stack__current {
        width: 90%;
        /* border: 1px solid red; */
        /* padding: 4.5rem .2rem .2rem; */
    }

    .tech-stack__past {
        position: absolute;
        bottom: 20px;
        right: 0;
        width: 90%;
        /* border: 1px solid blue; */

    }

    .about__paragraph {
        width: 80%;
        /* border: 2px solid red; */
        margin-left: 10%;
    }

    .education__container {
        display: block;
    }

    .education__school {
        margin-top: 20px;
    }

    .education__school h4 {
        font-size: 1.5rem;
    }

    .education__school p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 560px) {
    .about__tech-stack {
        height: 710px;
    }
    .about__tech-stack p {
        font-size: .7rem;
    }

    .about__container h3 {
        margin-left: 2%;
    }

    .tech-stack__current,
    .tech-stack__past {
        gap: 1.4rem 1rem;
    }

    .about__paragraph {
        width: 92%;
        /* border: 2px solid red; */
        margin-left: 4%;
    }

    .education__container {
        padding: 4px;
    }
    .education__school img {
        margin-right: 10px;
    }
    .education__school h4 {
        font-size: 1.2rem;
    }
}