.home2 {
    background: var(--color-neutral-900);
    min-height: 100vh;
    width: 100%;
    color: var(--content-fade-text);
    display: flex;
    flex-direction: column;
    place-items: center;
}

.home__container2 {
    flex-grow: 1;
    position: relative;
    z-index: 1;
    /* margin-bottom: 140px; */
}
.home__element2 {
    margin-top: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(800px, 90%);
    height: 400px;
    margin-inline: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--clear);
}
.home__text2 {
    padding: 20px;
    background: rgba(151, 218, 212, 0.627);
    background: #11111174;
    color: #eee;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home__container2 h1 {
    font-size: 3rem;
    /* margin-bottom: 20px; */
}
.home__text2 h4 {
    font-size: 2rem;
    font-weight: 500;
    /* margin-bottom: 50px; */
}
.home__text2 p {
    font-weight: 200;
    display: block;
    font-size: 1.6rem;
    /* margin-bottom: 40px; */
}
.home__text2 span {
    /* color: var(--secondary); */
    white-space: nowrap;
}
.home__text2 span:nth-child(2) {
    /* color: var(--primary-500); */
    white-space: nowrap;
}

.home__text2 button {
    color: white;
    border: 2px solid white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 18px 25px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: var(--button-background);
    transition: .5s;

}
.home__text2 button:hover {
    cursor: pointer;
    border: 2px solid var(--button-hover-border);
    background: linear-gradient(40deg, rgb(87, 222, 94), rgb(110, 241, 243));
    color: var(--button-hover-text);
}

.home__container2 .headshot2 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .7;
}


@media screen and (max-width: 850px) {
    .home__element2 {
        grid-template-columns: 1fr;
        height: 700px;
    }
    .home__container2 h1 {
        font-size: 2.5rem;
    }
    .home__text2 h4 {
        font-size: 1.8rem;
    }
    .home__text2 p {
        font-size: 1.4rem;
    }
    .home__text2 span {
        font-size: 1.4rem;
    }
    .home__text2 button {
        padding: 15px 20px;
    }
}