.home {
    background: var(--black);
    min-height: 100vh;
    width: 100%;
    color: var(--content-fade-text);
    display: flex;
    flex-direction: column;
    place-items: center;
}

.home__container {
    flex-grow: 1;
    position: relative;
    z-index: 1;
    margin-bottom: 140px;
}
.home__element {
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(800px, 90%);
    height: 400px;
    margin-inline: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--clear);
}
.home__text {
    padding: 20px;
    background: rgba(215, 185, 94, 0.203);
    background-image: var(--content-fade);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home__container h1 {
    font-size: 3rem;
    /* margin-bottom: 20px; */
}
.home__text h4 {
    font-size: 2rem;
    font-weight: 500;
    /* margin-bottom: 50px; */
}
.home__text p {
    font-weight: 200;
    display: block;
    font-size: 1.6rem;
    /* margin-bottom: 40px; */
}
.home__text span {
    /* color: var(--secondary); */
    white-space: nowrap;
}
.home__text span:nth-child(2) {
    /* color: var(--primary-500); */
    white-space: nowrap;
}

.home__text button {
    color: var(--button-text);
    border: 1px solid var(--button-border);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 18px 25px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: var(--button-background);
    transition: .5s;

}
.home__text button:hover {
    cursor: pointer;
    border: 1px solid var(--button-hover-border);
    background: var(--button-hover-background);
    color: var(--button-hover-text);
}

.home__container .headshot {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


@media screen and (max-width: 850px) {
    .home__element {
        grid-template-columns: 1fr;
        height: 700px;
    }
    .home__container h1 {
        font-size: 2.5rem;
    }
    .home__text h4 {
        font-size: 1.8rem;
    }
    .home__text p {
        font-size: 1.4rem;
    }
    .home__text span {
        font-size: 1.4rem;
    }
    .home__text button {
        padding: 15px 20px;
    }
}