.container {
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}


.h1 {
    color: #444;
    padding: 80px;
    text-align: center;
    font-size: 3rem;
}

.form {
    color: #333;
    font-size: 1rem;
}



.input {
    display: block;
    margin: 5px auto 20px;
    width: 380px;
    font-size: 1.2rem;
}

.btn {
    display: block;
    margin: 0 auto;
    background-image: linear-gradient(rgb(136, 229, 252), rgb(96, 215, 245));
    font-size: 1.2rem;
    padding: 4px 10px;
    border-radius: 8px;
}

