.footerContainer {
    height: max-content;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.footerContainer .icons {
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin-right: 50px;
}
.footerContainer .icons p {
    margin: 4px 20px;
    width: 50px;
    color: #fff;
}

.footerContainer a {
    text-decoration: none;
    color: #fff;
}
.footerContainer a:visited {
    color: #fff;
}
.footerContainer a:hover {
    color: rgb(46, 253, 74);
    cursor: pointer;
}

.footerContainer .year {
    padding: 4px 10px;
    font-size: .8rem;
    color: #fff;
    width: 100px;
}
