.footer {
    height: max-content;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #23232a4e;
    z-index: 100;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
}

.links__p {
    margin: 4px 20px;
    color: #fff;
    padding: 0;
}

.footer__links a {
    text-decoration: none;
    color: #fff;
}
.footer__links a:visited {
    color: #fff;
}
.footer__links p:hover {
    color: rgb(46, 253, 74);
    cursor: pointer;
}

.footer__year {
    padding: 4px 10px;
    color: #fff;
    white-space: nowrap;
}

@media screen and (max-width: 380px) {
    .footer {
        font-size: 11px;
    }
    .links__p {
        margin: 4px 10px;
    }
}