.container {
    height: max-content;
    width: 100%;
    background-color: #333;
    padding: 30px 0 8px;
}

.icons {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    font-size: 3rem;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(136, 229, 252);
}
a:visited {
    color: inherit;
}
a:hover {
    color: rgb(46, 253, 74);
    cursor: pointer;
}

.copyright {
    text-align: right;
    padding-right: 10px;
    font-size: .8rem;
    color:rgb(136, 229, 252);
}
