.footerContainer {
    height: max-content;
    width: 100%;
    background: hsl(231, 9%, 10%);
    /* background: linear-gradient(175deg, #444 1%, #333 60%, #222); */
    padding: 10px 0 5px;
    border-top: 1px solid rgb(187, 243, 206);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.icons {
    /* margin: auto; */
    margin-bottom: 4px;
    margin-left: 35px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.icon {
    font-size: 3rem;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(136, 229, 252);
}
a:visited {
    color: rgb(136, 229, 252);
}
a:hover {
    color: rgb(46, 253, 74);
    cursor: pointer;
}

.year {
    text-align: right;
    padding: 4px;
    font-size: .8rem;
    color:rgb(136, 229, 252);
}
