.tech {
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(136, 229, 252); */
    /* background-color: #333; */
    /* background: linear-gradient(279deg, #b4dbf5 40%, #aebbe3 60%); */
    background: #23242a;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.techContainer {
    flex-grow: 1;
    border: 2px solid orange;
}

.techContainer h3 {
    padding: 50px 0 10px;
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.stack {
    width: 80%;
    font-size: 3rem;
    margin: auto;
    text-align: center;
    color: #333;
}

.stack p {
    font-size: 1.2rem;
    color: #444;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.item {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 4px 10px;
    background-image: linear-gradient(rgb(136, 229, 252), rgb(96, 215, 245));
}

@media screen and (max-width: 800px) {
    .techContainer {
        flex-grow: 1;
    }

    .title {
        margin-left: 2.5%;
    }

    .stack {
        width: 95%;
        margin: auto;
        font-size: 2.1rem;
    }

    .stack p {
        font-size: .8rem;
    }

    .item {
        padding: 4px;
    }
}