.tech {
    color: #333;
    width: 100%;
    padding: 80px;
    background-color: rgb(136, 229, 252);
}

.title {
    padding: 30px;
    text-align: center;
    font-size: 3rem;
}

.stack {
    width: 80%;
    font-size: 3rem;
    margin: auto;
    text-align: center;
}

.stack p {
    font-size: 1.2rem;
    color: #444;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.row2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.row3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.item {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
}