.tech {
    color: #333;
    width: 100%;
    padding: 80px;
    /* background-color: rgb(136, 229, 252); */
    background-color: #f8f8f8;
}

.title {
    padding: 30px 0;
    text-align: left;
    font-size: 3rem;
    margin-left: 10%;
}

.stack {
    width: 80%;
    font-size: 3rem;
    margin: auto;
    text-align: center;
}

.stack p {
    font-size: 1.2rem;
    color: #444;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.item {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 4px 10px;
    background-image: linear-gradient(rgb(136, 229, 252), rgb(96, 215, 245));
}

@media screen and (max-width: 800px) {

    .title {
        margin-left: 2.5%;
    }

    .stack {
        width: 95%;
        margin: auto;
        font-size: 2.1rem;
    }

    .stack p {
        font-size: .8rem;
    }

    .tech {
        padding: 80px 0px 80px;
    }

    .item {
        padding: 4px;
    }
}