.practice__container {
    background-color: red;
    height: 500px;
    width: 500px;
    z-index: 10;
    position: relative;
}

.practice__box {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    background-color: blue;
    left: 0%;
}