@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End CSS Reset */

/* layout */
:root {
  /* primitives */
    --color-green-300: palegreen;
    --color-green-500: rgb(46, 253, 74);
    --color-green-800: rgba(17, 190, 60, 0.4);
    --color-aqua-500: rgb(46, 239, 253);
    --color-purple-500: rgb(201, 121, 240);
    --color-neutral-100: #eee;
    --color-neutral-200: #ccc;
    --color-neutral-300: #aaa;
    --color-neutral-400: #888;
    --color-neutral-500: #666;
    --color-neutral-600: #444;
    --color-neutral-700: #333;
    --color-neutral-800: #282a36;
    --color-neutral-900: #23242a;
    --color-error-100: #f9d4e1;
    --color-error-600: #e7195a;

    --dark-see-through: #11111174;

    --green-blue-fade: linear-gradient(200deg, rgba(134, 248, 93, 0.82) 1%, rgba(54, 239, 233, 0.84) 99%);
    --blue-purple-fade: linear-gradient(150deg, rgba(36, 230, 175, 0.82) 12%, rgba(204, 159, 232, 0.84));
    --black-transparent-fade: linear-gradient(#1414198d, transparent);
    
    --purple-blue-fade: linear-gradient(40deg, rgb(108, 0, 162), rgb(0, 17, 82));

    --font-family-primary: 'Poppins', sans-serif;


    --font-weight-regular: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    --font-size-200: 0.75rem;
    --font-size-300: 1rem;
    --font-size-400: 1.25rem;
    --font-size-500: 1.5rem;
    --font-size-600: 1.75rem;
    --font-size-700: 2rem;
    --font-size-800: 3rem;
    --font-size-900: 4rem;

    --clear: 6px 6px 6px 0px rgba(0, 0, 0, 0.379);

    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;

    /* semantics */
    --nav-link: var(--color-neutral-100);
    --nav-link-hover: var(--color-green-500);
    --nav-border: var(--color-neutral-400);
    --nav-background: var(--black-transparent-fade);

    --body-text: var(--color-neutral-100);
    --heading-text: var(--color-neutral-100);
    --icon-text: var(--color-neutral-100);

    --content-background-primary: var(--dark-see-through);
    --content-background-secondary: var(--dark-see-through);
    --content-fade-text: var(--color-neutral-900);

    --button-text: var(--color-neutral-100);
    --button-background: var(--color-neutral-800);
    --button-border: var(--color-neutral-100);
    --button-hover-text: var(--color-neutral-900);
    --button-hover-background: var(--green-blue-fade);
    --button-hover-border: var(--color-neutral-900);

    --font-size-display: var(--font-size-900);
    --font-size-heading: var(--font-size-700);
    --font-size-subheading: var(--font-size-600);
    --font-size-button-text: var(--font-size-500);
    --font-size-body: var(--font-size-400);
    --font-size-small: var(--font-size-300);
    --font-size-tiny: var(--font-size-200);
  }

  * {
    font-family: var(--font-family-primary);
  }
  a,
  a:visited {
    text-decoration: none;
    color: var(--color-neutral-100);
  }

  a:hover {
    color: var(--color-green-500);
  }


  /* Utility Classes */
  .text-neutral-100 {
    color: var(--color-neutral-100);
  }
  .text-primary-500 {
    color: var(--color-green-500);
  }
  .text-secondary-500 {
    color: var(--color-aqua-500);
  }
  .text-tertiary-500 {
    color: var(--color-purple-500);
  }
  .text-neutral-900 {
    color: var(--color-neutral-900);
  }
  .background-neutral-100 {
    background-color: var(--color-neutral-100);
  }
  .background-primary-500 {
    background-color: var(--color-green-500);
  }
  .background-secondary-500 {
    background-color: var(--color-aqua-500);
  }
  .background-tertiary-500 {
    background-color: var(--color-purple-500);
  }
  .background-neutral-900 {
    background-color: var(--color-neutral-900);
  }

  .font-family-body {
    font-family: var(--font-family-primary);
  }
  .font-family-heading {
    font-family: var(--font-family-primary);
  }

  .font-weight-regular {
    font-weight: var(--font-weight-regular);
  }
  .font-weight-semi-bold {
    font-weight: var(--font-weight-semi-bold);
  }
  .font-weight-bold {
    font-weight: var(--font-weight-bold);
  }

  .font-size-primary-heading {
    font-size: var(--font-size-600);
  }
  .font-size-secondary-heading {
    font-size: var(--font-size-500);
  }
  .font-size-body {
    font-size: var(--font-size-300);
  }
  .font-size-small {
    font-size: var(--font-size-200);
  }


  .app .background-button {
    position: absolute;
    top: 40px;
    left: 5px;
    padding: 5px;
    z-index: 100;
    border-radius: var(--border-radius-small);
    border: 2px solid var(--button-border);
    color: var(--button-text);
    background-color: var(--button-background);
  }

  .app .background-button:hover {
    background: var(--button-hover-background);
    color: var(--button-hover-text);
    border: 2px solid var(--button-hover-border);
    cursor: pointer;
  }
  .app .background-title {
    position: absolute;
    top: 80px;
    left: 5px;
    color: var(--body-text);
    background: var(--dark-see-through);
    padding: 5px 15px;
    border-radius: var(--border-radius-medium);
  }