@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End CSS Reset */

/* layout */
:root {
  /* primitives */
    --color-primary-300: palegreen;
    --color-primary-500: rgb(46, 253, 74);
    --color-primary-800: rgba(17, 190, 60, 0.4);
    --color-secondary-500: rgb(46, 239, 253);
    --color-tertiary-500: rgb(201, 121, 240);
    --color-neutral-100: #eee;
    --color-neutral-900: #23242a;
    --color-neutral-400: #888;
    --color-error-100: #f9d4e1;
    --color-error-600: #e7195a;

    --font-family-primary: 'Poppins', sans-serif;


    --font-weight-regular: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    --font-size-200: 0.75rem;
    --font-size-300: 1rem;
    --font-size-400: 1.25rem;
    --font-size-500: 1.5rem;
    --font-size-600: 1.75rem;
    --font-size-700: 2rem;
    --font-size-800: 3rem;
    --font-size-900: 4rem;

    --clear: 6px 6px 6px 0px rgba(0, 0, 0, 0.379);

    /* semantics */
    --nav-link: var(--color-neutral-100);
    --nav-link-hover: var(--color-primary-500);
    --nav-border: var(--color-neutral-400);
    --nav-background: linear-gradient(#1414198d, transparent);
    --content-fade: linear-gradient(200deg, rgba(134, 248, 93, 0.82) 1%, rgba(54, 239, 233, 0.84) 99%);
    --content-fade-2: linear-gradient(150deg, rgba(36, 230, 175, 0.82) 12%, rgba(204, 159, 232, 0.84));
    --content-fade-text: var(--color-neutral-900);
    --button-text: var(--color-primary-300);
    --button-background: var(--color-neutral-900);
    --button-border: var(--color-primary-800);
    --button-hover-text: var(--color-neutral-900);
    --button-hover-background: var(--content-fade-2);
    --button-hover-border: var(--color-neutral-900);
  }

  * {
    font-family: var(--font-family-primary);
  }
  a,
  a:visited {
    text-decoration: none;
    color: var(--color-neutral-100);
  }

  a:hover {
    color: var(--color-primary-500);
  }


  /* Utility Classes */
  .text-neutral-100 {
    color: var(--color-neutral-100);
  }
  .text-primary-500 {
    color: var(--color-primary-500);
  }
  .text-secondary-500 {
    color: var(--color-secondary-500);
  }
  .text-tertiary-500 {
    color: var(--color-tertiary-500);
  }
  .text-neutral-900 {
    color: var(--color-neutral-900);
  }
  .background-neutral-100 {
    background-color: var(--color-neutral-100);
  }
  .background-primary-500 {
    background-color: var(--color-primary-500);
  }
  .background-secondary-500 {
    background-color: var(--color-secondary-500);
  }
  .background-tertiary-500 {
    background-color: var(--color-tertiary-500);
  }
  .background-neutral-900 {
    background-color: var(--color-neutral-900);
  }

  .font-family-body {
    font-family: var(--font-family-primary);
  }
  .font-family-heading {
    font-family: var(--font-family-primary);
  }

  .font-weight-regular {
    font-weight: var(--font-weight-regular);
  }
  .font-weight-semi-bold {
    font-weight: var(--font-weight-semi-bold);
  }
  .font-weight-bold {
    font-weight: var(--font-weight-bold);
  }

  .font-size-primary-heading {
    font-size: var(--font-size-600);
  }
  .font-size-secondary-heading {
    font-size: var(--font-size-500);
  }
  .font-size-body {
    font-size: var(--font-size-300);
  }
  .font-size-small {
    font-size: var(--font-size-200);
  }